<!DOCTYPE html>
<html>
<head>
    <title>SkillHer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="landing">

    <div class="container">
        <h1>SkillHer</h1>
        <h3>Empower. Exchange. Evolve.</h3>

        <p>
            SkillHer is a women-focused skill exchange platform 
            where members can teach what they know and learn what they love.
            It builds a safe and collaborative space for growth.
        </p>

        <a href="/login" class="btn">Login</a>
    </div>

</body>
</html>